body { 

    scroll-margin-right: auto;
     background-color: bisque;
    opacity: 0.9;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
    }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
*{
  margin: 0px;
  padding: 0%;
}
